[user]
  name = {{ userfullname }}
  email = {{ email }}
[core]
  editor = vim
  excludesfile = ~/.gitignore
[merge]
  tool = kdiff3
[diff]
  tool = meld
[color]
  ui = true
[push]
  default = simple
[difftool]
  prompt = false
[mergetool]
  prompt = false
[pull]
  rebase = true
[rebase]
  autostash = true
[diff]
  compactionHeuristic = true
[alias]
  icdiff = difftool --extcmd icdiff
 	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  fr = "!f() { git fetch && git rebase origin/"$1"; }; f"
